{{- $name := promptStringOnce . "name" "Name" -}}
{{- $email := promptStringOnce . "email" "Email address" -}}
{{- $isPersonal := promptBoolOnce . "isPersonal" "Personal machine (non-work)?" -}}
{{- $workEmail := "" -}}
{{- $workDir := "" -}}
{{- if not $isPersonal }}
{{-   $workEmail = promptStringOnce . "workEmail" "Work email address" }}
{{-   $workDir = promptStringOnce . "workDir" "Work code directory (relative to $HOME, e.g. \"work\")" }}
{{- end }}


[data]
    name = {{ $name | quote }}
    email = {{ $email | quote }}
    workEmail = {{ $workEmail | quote }}
    workDir = {{ $workDir | quote }}
    isPersonal = {{ $isPersonal }}

