{{- $name := promptStringOnce . "name" "Name" -}}
{{- $email := promptStringOnce . "email" "Email address" -}}
{{- $workEmail := promptStringOnce . "workEmail" "Work email address" -}}
{{- $workDir := promptStringOnce . "workDir" "Work code directory" -}}


[data]
    name = {{ $name | quote }}
    email = {{ $email | quote }}
    workEmail = {{ $workEmail | quote }}
    workDir = {{ $workDir | quote }}

