tap "homebrew/bundle"
tap "qmk/qmk"

# 'brew install'
brew "chezmoi"
brew "git"
brew "neovim"
brew "pyenv-virtualenv"
brew "qmk/qmk/qmk"
brew "vim"

# pyenv build environment
brew "openssl" 
brew "readline"
brew "sqlite3"
brew "xz"
brew "zlib"
brew "tcl-tk"

# 'brew install --cask'
cask "1password-cli"
cask "docker"
cask "karabiner-elements"
cask "logseq"
cask "microsoft-edge"
cask "onedrive"
cask "pock"
cask "the-clock"
cask "whatsapp"
cask "zoom"
