tap "buo/cask-upgrade"
tap "derailed/k9s"
tap "jesseduffield/lazydocker"
tap "jesseduffield/lazygit"
tap "nikitabobko/tap"
{{- if not .isPersonal }}
tap "azure/kubelogin"
tap "hashicorp/tap"
tap "mongodb/brew"
{{- end }}
brew "openssl@3"
brew "readline"
brew "sqlite"
brew "xz"
brew "chezmoi"
brew "colima"
brew "difftastic"
brew "direnv"
brew "docker"
brew "docker-buildx"
brew "docker-compose"
brew "fzf"
brew "htop"
brew "lazygit"
brew "libpq"
brew "luajit"
brew "luarocks"
brew "mas"
brew "neovim"
brew "ripgrep"
brew "opencode"
brew "pandoc"
brew "pipx"
brew "pnpm"
brew "prettierd"
brew "pyenv"
brew "pyenv-virtualenv"
brew "starship"
brew "stylua"
brew "tcl-tk"
brew "tmux"
brew "tmux-mem-cpu-load"
brew "tree"
brew "tree-sitter-cli"
brew "yq"
brew "zlib"
brew "zoxide"
brew "zsh-autosuggestions"
brew "zsh-vi-mode"
brew "jesseduffield/lazydocker/lazydocker"
{{- if not .isPersonal }}
brew "awscli"
brew "azure-cli"
brew "cloudflared"
brew "helm"
brew "k9s"
brew "kubernetes-cli"
brew "mongosh"
brew "powershell", link: false
brew "redis"
brew "sqlcmd"
brew "azure/kubelogin/kubelogin"
brew "hashicorp/tap/terraform"
brew "mongodb/brew/mongodb-database-tools"
{{- end }}
cask "1password"
cask "1password-cli"
cask "cameracontroller"
cask "codex"
cask "font-atkinson-hyperlegible-next"
cask "font-hack-nerd-font"
cask "karabiner-elements"
cask "logi-options+"
cask "obsidian"
cask "postman"
cask "raycast"
cask "slack"
cask "wezterm"
cask "zoom"
{{- if not .isPersonal }}
cask "microsoft-edge"
cask "powershell"
{{- end }}
{{- if .isPersonal }}
cask "microsoft-auto-update"
cask "onedrive"
cask "pock"
cask "the-clock"
cask "whatsapp"
{{- end }}
