source ~/.bashrc

{{ if eq .chezmoi.os "darwin" }}
bind -f $INPUTRC

{{ else }}
{{ end -}}

{{ if eq .chezmoi.os "darwin" -}}
eval "$(/usr/local/bin/brew shellenv)"
eval "$(pyenv init --path)"
{{ end -}}

export PYENV_ROOT="$HOME/.pyenv"
export PATH="$PYENV_ROOT/bin:$PATH"
