if ! command -v nvim &> /dev/null; then
  export EDITOR=$(which vim)
  export MANPAGER='less -s -M +Gg'
else
  export EDITOR=$(which nvim)
  export MANPAGER='nvim +Man!'
fi
export VISUAL="$EDITOR"

# Aliases
alias la='ls -A'
alias ll='ls -ltAh'

alias g='git'
alias glg='git log --all --graph --decorate'

alias vi='nvim'
alias vim='nvim'
alias vimdiff='nvim -d'

alias ta='tmux attach-session'
alias tn='tmux new-session -s'
alias tl='tmux list-sessions'

{{- if eq .chezmoi.os "linux" }}
{{   if (.chezmoi.kernel.osrelease | lower | contains "microsoft") }}
alias ssh='ssh.exe'
alias ssh-add='ssh-add.exe'
alias op='op.exe'
{{   end }}
{{ end }}

# Clear screen
cls () {
  if [[ "$TERM" == "tmux-256color" && -n "TMUX" ]]; then
    clear && tmux clear-history 
  else
    # This is equivalent to clear && printf '\e[3J'
    printf '\33c\e[3J'
  fi
}

# Terminal colour
export CLICOLOR=1
export COLORTERM=truecolor
#export LSCOLORS=GxFxCxDxBxegedabagaced
{{ if eq .chezmoi.os "darwin" -}}
# If using native BSD utils
#alias ls='ls -G'
# If installed "coreutils" with homebrew,
# and added
# export PATH="/usr/local/opt/coreutils/libexec/gnubin:$PATH"
# to ~/.bashrc_local per advice after installation
alias ls='ls --color=auto'

{{ else if eq .chezmoi.os "linux" -}}
alias ls='ls --color=auto'

{{ end -}}

# If $LESS is unset, Git sets it to FRX. I don't want F or X.
export LESS='R'

# less colour
export LESS_TERMCAP_so=$(tput bold; tput setaf 6)  # enter standout mode
export LESS_TERMCAP_se=$(tput rmso; tput sgr0)     # leave standout mode
export LESS_TERMCAP_mb=$(tput blink; tput setaf 1) # enter blinking mode
export LESS_TERMCAP_md=$(tput bold; tput setaf 3)  # enter double-bright mode
export LESS_TERMCAP_me=$(tput sgr0)                # turn off all appearance modes
export LESS_TERMCAP_us=$(tput sitm; tput setaf 2)  # turn on underline mode
export LESS_TERMCAP_ue=$(tput ritm; tput sgr0)     # turn off underline mode
# and so on

{{ if eq .chezmoi.os "darwin" -}}
alias bup="brew update && brew upgrade"
{{ end -}}
alias cm="chezmoi"

# Add N/Vim spellfiles and snippets to .chezmoitemplates
cm_add_vim () {
  cp ~/.vim/spell/en.utf-8.add ~/.local/share/chezmoi/.chezmoitemplates/vim/spell
  cp ~/.vim/spell/tex.utf-8.add ~/.local/share/chezmoi/.chezmoitemplates/vim/spell
  cp ~/.vim/UltiSnips/tex.snippets ~/.local/share/chezmoi/.chezmoitemplates/vim/UltiSnips
}
cm_add_nvim () {
  cp ~/.config/nvim/spell/en.utf-8.add ~/.local/share/chezmoi/.chezmoitemplates/vim/spell
  cp ~/.config/nvim/spell/tex.utf-8.add ~/.local/share/chezmoi/.chezmoitemplates/vim/spell
  cp ~/.config/nvim/UltiSnips/tex.snippets ~/.local/share/chezmoi/.chezmoitemplates/vim/UltiSnips
}

export PATH=$PATH:/usr/local/sbin
export PATH=$PATH:$HOME/.local/bin

if command -v go &> /dev/null; then
  export PATH=$PATH:/usr/local/go/bin
  export GOPATH=$HOME/src/go
  export GOBIN=$GOPATH/bin
  export PATH=$PATH:$GOBIN
fi
export PATH=$PATH:$HOME/dotnet
export DOTNET_ROOT=/usr/local/share/dotnet
[[ -d $HOME/.dotnet/tools ]] && export PATH="$HOME/.dotnet/tools:$PATH"
[[ -d /opt/mssql-tools18/bin/ ]] && export PATH="/opt/mssql-tools18/bin/:$PATH"


[ -s "$HOME/.env" ] && \. "$HOME/.env"
[ -s "$HOME/wezterm.sh" ] && \. "$HOME/wezterm.sh"

export PYENV_ROOT="$HOME/.pyenv"
[[ -d $PYENV_ROOT/bin ]] && export PATH="$PYENV_ROOT/bin:$PATH"
eval "$(pyenv init -)"
export PYENV_VIRTUALENV_DISABLE_PROMPT=1
export PYENV_HOOK_PATH="$HOME/.config/pyenv.d"

eval "$(pyenv virtualenv-init -)"

# Lazy load nvm because it's very slow
load_nvm() {
  export NVM_DIR="$HOME/.nvm"
  [ -s "$NVM_DIR/nvm.sh" ] && \. "$NVM_DIR/nvm.sh"  # This loads nvm
  [ -s "$NVM_DIR/bash_completion" ] && \. "$NVM_DIR/bash_completion"  # This loads nvm bash_completion
}

nvm() {
  unset -f nvm
  load_nvm
  nvm "$@"
}

node() {
  unset -f node
  load_nvm
  node "$@"
}


npm() {
  unset -f npm
  load_nvm
  npm "$@"
}


yarn() {
  unset -f yarn
  load_nvm
  yarn "$@"
}

{{ if eq .chezmoi.os "darwin" -}}
source "$HOME/.config/op/plugins.sh"
{{ end -}}
