# Need to load Powerlevel10k before the instant prompt
source ~/.powerlevel10k/powerlevel10k.zsh-theme

# Enable Powerlevel10k instant prompt. Should stay close to the top of ~/.zshrc.
# Initialization code that may require console input (password prompts, [y/n]
# confirmations, etc.) must go above this block; everything else may go below.
if [[ -r "${XDG_CACHE_HOME:-$HOME/.cache}/p10k-instant-prompt-${(%):-%n}.zsh" ]]; then
  source "${XDG_CACHE_HOME:-$HOME/.cache}/p10k-instant-prompt-${(%):-%n}.zsh"
fi

# Just do this instead of installing oh-my-zsh
setopt autocd

source ~/.commonprofile

# Enbale direnv
eval "$(direnv hook zsh)"

# Where should I put you?
bindkey -s ^f "tmux-sessionizer\n"

# opam configuration
[ -r ~/.opam/opam-init/init.zsh ] && source ~/.opam/opam-init/init.zsh  > /dev/null 2> /dev/null

#  Fuzzy finder
{{ if eq .chezmoi.os "darwin" -}}
[ -f ~/.fzf.zsh ] && source ~/.fzf.zsh
{{ else if eq .chezmoi.os "linux" -}}
[ -f /usr/share/doc/fzf/examples/key-bindings.zsh ] && source /usr/share/doc/fzf/examples/key-bindings.zsh
[ -f /usr/share/doc/fzf/examples/completion.zsh ] && source /usr/share/doc/fzf/examples/completion.zsh
{{- end }}

# To customize prompt, run `p10k configure` or edit ~/.p10k.zsh.
[ -f ~/.p10k.zsh ] && source ~/.p10k.zsh
