# Local/private config goes in the include
[include]
  path = ~/.gitconfig.local
[includeIf "gitdir:~/{{ .workDir }}/"]
  path = ~/{{ .workDir }}/.gitconfig
[hub]
  protocol = https
[alias]
  st      = status
  aa      = add -A
  ca      = !git add -A && git commit -m
  co      = checkout
  cob     = checkout -b
  dft     = difftool
  up      = !git pull --rebase --prune $@ && git submodule update --init --recursive
  undo    = reset HEAD~1 --mixed
  fu      = !git reset --hard HEAD && git clean -df
  sync    = !git stash && git pull && git stash pop
  lg1     = log --graph --abbrev-commit --decorate --date=relative --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)' --all
  lg2     = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n''          %C(white)%s%C(reset) %C(dim white)- %an%C(reset)' --all
  lg      = !"git lg1"
[apply]
  whitespace = nowarn
[color]
  diff = auto
  status = auto
  branch = auto
  ui = true
[commit]
  gpgsign = true
[core]
  excludesfile = ~/.gitignore
  autocrlf = input

[diff]
  tool = difftastic
  external = difft
[difftool]
  prompt = false
[difftool "difftastic"]
        cmd = difft "$LOCAL" "$REMOTE"
[fetch]
  prune = true
[filter "lfs"]
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
  required = true
[help]
  autocorrect = 1
[init]
  defaultBranch = main
[mergetool]
  keepBackup = false
[pager]
  difftool = true
[pull]
  rebase = true
[push]
  # See `git help config` (search for push.default)
  # for more information on different options of the below setting.
  #
  # Setting to git 2.0 default to suppress warning message
  default = simple
  autoSetupRemote = true

[gpg]
	format = ssh
