[user]
        email = {{ .email | quote }}
        name = {{ .name | quote }}
{{ if eq .chezmoi.os "darwin" -}}
        signingkey = {{ onepasswordRead "op://Private/SSH Key Personal/public key" }}
{{ end -}}
